* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	width: 100vw;
	user-select: none;
	overflow: hidden;
}

ul {
	list-style: none;
}

.icon {
	width: 3em;
	height: 3em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

@font-face {
	font-family: 'Sacs';
	src: url('../media/OPPOSans-M.ttf');
}

%hw {
	height: 100%;
	width: 100%;
	margin: auto;
}

.wrap {
	height: 98%;
	width: 98%;
	background: #1c1c1c;
	border-radius: 2vw;
	margin: 10px;
	font-family: 'Sans';
	overflow: hidden;
}

$nw: 20%;
.nav {
	width: 20%;
	height: 100%;
	float: left;
	padding: 1%;
	color: #ffffff;
	background: #000000;
	.nav-head {
		height: 10%;
		width: 100%;
		padding: 8%;
	}
	.nav-centent {
		height: (100% - 10% -10%);
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-bottom: 80%;
		.nav-centent-butt {
			width: 90%;
			height: (100% / 7);
			border-radius: 1vw;
			background: #1e1c1d;
			margin: auto;
			transition: transform 0.5s;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 10% 0 10%;
			overflow: hidden;
		}
	}
	.nav-foot {
		height: 10%;
		width: 100%;
		padding: 10%;
		border-top: 1px solid;
		span {
			float: right;
			font-size: 1.2vw;
			font-weight: bold;
		}
	}
}

.centent {
	width: (100% - $nw);
	height: 100%;
	float: right;
	padding: 2%;
	.Pages {
		display: none;
		animation: leftIn 0.5s both;
		@extend %hw;
	}
}

#Page1 {
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: auto;
	.Page1-aside {
		width: (100%/3.2);
		height: (100%/4);
		// height: auto;
		padding: 1%;
		margin: 1%;
		border-radius: 1vw;
		background: #000000;
		transition: all 0.5s;
		color: darkgray;
		span {
			height: 1vw;
			width: 1vw;
			border-radius: 100vw;
			display: inline-block;
		}
		.Page1-aside-wrap {
			margin-top: 5%;
			height: 80%;
			width: 100%;
			font-size: 1.1vw;
		}
		.Page1-aside-X {
			width: 5%;
			height: auto;
			float: right;
			display: none;
			img {
				width: 100%;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	.Page1-centent {
		height: 30%;
		width: 100%;
		margin-top: 2%;
		border-radius: 2vw;
		background: #000000;
	}
	&::-webkit-scrollbar {
		display: none;
	}
}

.footer {
	position: absolute;
	font-size: 1.2vw;
	bottom: 3%;
	left: 47%;
	font-weight: bold;
}

#Page4 {
	flex-direction: column;
	align-items: center;
	padding-bottom: 2%;
	.Page4-wrap {
		height: 300%;
		width: 60%;
		margin: auto;
		overflow: auto;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.Page4-aside {
	padding: 4%;
	height: auto;
	width: 100%;
	background: #373737;
	margin-bottom: 2%;
	color: #ffffff;
	animation: Page4In 3s 0.5s;
	&:nth-child(1) {
		.Page4-aside1-bott {
			margin-top: 5%;
			display: flex;
			justify-content: space-between;
		}
	}
	&:nth-child(2),
	&:nth-child(4) {
		ul {
			display: flex;
			flex-direction: column;
			li {
				time {
					float: left;
					width: 35%;
					display: block;
					background-color: orangered;
					position: relative;
					&::after {
						content: '';
						border-top: 0.73vw solid transparent;
						border-left: 1.3vw solid orangered;
						border-bottom: 0.73vw solid transparent;
						position: absolute;
						right: -9%;
						top: 0%;
					}
				}
				& > div {
					padding-bottom: 5%;
					width: 60%;
					border-left: red solid 1px;
					padding-left: 2%;
					float: right;
				}
			}
		}
	}
	&:nth-child(3) {
		.Page4-aside3-wrap {
			display: flex;
			justify-content: space-around;
			& > div {
				padding: 1%;
				flex: 1;
			}
		}
		.Page4-aside3-wrap-p {
			display: inline-flex;
			justify-content: space-between;
			width: 60%;
			float: right;
			span {
				width: 1vw;
				height: 1vw;
				display: inline-block;
				border: 1px solid orangered;
				border-radius: 100vw;
			}
			.Page4-aside3-wrap-p-last {
				// display: inline;
				width: auto;
				height: auto;
				color: darkgrey;
				border: none;
				background-color: transparent;
			}
		}
	}
}
